<.flash_group flash={@flash} />

<div class="px-4 py-10 sm:py-28 sm:px-6 lg:px-8 xl:py-32 xl:px-28">
  <form method="post" action="/auth">
    <input name="login" type="text">
    <input name="password" type="password">
    <br/>
    <br/>
    <input name="_csrf_token" value="{csrf_token_value()}" type="hidden">
    <input type="submit" value="Log in">
  </form>
</div>
